<footer x-data class="mt-16 overflow-hidden">
  <div
    class="w-full leading-none -mb-7 sm:-mb-8 md:-mb-10 lg:-mb-13 2xl:-mb-17 3xl:-mb-23">
    <h4 class="f-heading f-heading--home f-heading--work f-heading--detail">
      westie
    </h4>
  </div>
  <div class="f-bottom f-bottom--home f-bottom--work f-bottom--detail">
    <h5 class="font-serif text-left text-md uppercase text-primary3">
      © <span x-text="new Date().getFullYear()"></span>. all Rights Reserved
    </h5>
    <h5 class="font-serif text-left text-md uppercase text-primary3">
      <a href="/terms">terms and conditions</a>
    </h5>
  </div>
</footer>
